{% extends 'master.html' %}
{% load static %}
{% block title %}
  Crips
{% endblock %}
{% block styles %}
  <link href="{% static 'css/crips/crips.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'datatables/DataTables-1.13.6/css/dataTables.bootstrap5.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block contents %}
  {% if crips_info %}
    <div class="container-fluid p-1">
        <div class="row">
            <div class="col-12">
                <div class="crips-card" id="crips_div">
                    <!-- Header -->
                    <div class="crips-header text-center">
                        <div class="crips-avatar mx-auto">
                            <i class="fas fa-pizza-slice"></i>
                        </div>
                        <h3 class="">Crips: {{info.name}}</h3>
                    </div>

                    <!-- Crips Details -->
                    <div class="px-4 py-2">
                        <div class="info-row">
                            <div class="info-label">
                                <i class="fas fa-calendar-days me-2"></i>Registration Date
                            </div>
                            <div class="info-value pe-2">{{info.regdate}}</div>
                        </div>

                        <div class="info-row">
                            <div class="info-label">
                                <i class="fas fa-calendar-days me-2"></i>Last updated
                            </div>
                            <div class="info-value pe-2">{{info.updated}}</div>
                        </div>

                        <div class="info-row">
                            <div class="info-label">
                                <i class="fas fa-money-bill-transfer me-2"></i>Selling price
                            </div>
                            <div class="info-value pe-2">{{info.price_txt}} TZS</div>
                        </div>

                        <div class="info-row">
                            <div class="info-label">
                                <i class="fas fa-boxes-stacked me-2"></i>Quantity
                            </div>
                            <div class="info-value pe-2">{{info.qty_txt}}</div>
                        </div>

                        <div class="info-row">
                            <div class="info-label">
                                <i class="fas fa-comment me-2"></i>Comment
                            </div>
                            <div class="comment-section">
                                <p class="comment-text" id="comment">{{info.comment|linebreaksbr}}</p>
                            </div>
                        </div>
                    </div>

                    <!-- Action Buttons -->
                    <div class="action-buttons">
                        <div class="row g-3">
                            <div class="col-6">
                                <button class="btn action-btn btn-update btn-ripple w-100 btn-pulse" id="updateBtn" data-bs-toggle="offcanvas" data-bs-target="#update_crips_canvas">
                                    <i class="fas fa-pen-to-square me-2"></i>Update
                                </button>
                            </div>
                            <div class="col-6">
                                <button class="btn action-btn btn-delete btn-ripple w-100" id="deleteBtn" data-bs-toggle="modal" data-bs-target="#confirm_delete_modal">
                                    <i class="fas fa-trash me-2"></i>Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="offcanvas offcanvas-start" id="update_crips_canvas">
      <div class="offcanvas-header bg-charcoal">
        <h6 class="offcanvas-title text-white">Update Crips info..</h6>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body bg-background">
        <form class="d-block w-100 float-start" id="new_crips_form" action="{% url 'crips_actions' %}" autocomplete="off">
          <div class="formsms w-100 float-start my-1 text-start"></div>
          <div class="form-floating d-block w-100 float-start my-1">
            <select name="name" id="crips_name" class="form-select" required>
              {% for type in info.types %}
                {% if type == info.name %}
                <option value="{{ type }}" selected>{{ type }}</option>
                {% else %}
                <option value="{{ type }}">{{ type }}</option>
                {% endif %}
              {% endfor %}
            </select>
            <label for="crips_name" class="form-label">Select crips type</label>
          </div>
          <div class="form-floating d-block w-100 float-start my-1">
            <input type="number" min="1" class="form-control" id="crips_qty" name="qty" value="{{info.qty}}" placeholder="a" required />
            <label for="crips_qty" class="form-label">Quantity</label>
          </div>
          <div class="form-floating d-block w-100 float-start my-1">
            <input type="number" step="0.01" min="1" class="form-control" id="crips_price" name="price" value="{{info.price}}" placeholder="a" required />
            <label for="crips_price" class="form-label">Price</label>
          </div>
          <div class="form-floating d-block w-100 float-start my-1">
            <textarea class="form-control" id="crips_comment" placeholder="d" style="min-height:150px;" name="comment">{{info.comment}}</textarea>
            <label for="crips_comment" class="form-label">Extra comment (optional)</label>
          </div>
          <div class="form-floating d-block w-100 float-start my-3 text-end">
            <button type="button" class="btn btn-danger d-inline-block me-2" id="crips_cancel_btn" data-bs-dismiss="offcanvas">Cancel</button>
            <button type="submit" class="btn btn-success d-inline-block" id="crips_submit_btn">Save</button>
          </div>
          <input type="hidden" name="edit_crips" value="{{ info.id }}" id="get_crips_id" />
        </form>
      </div>
    </div>

    <div class="modal fade" id="confirm_delete_modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-charcoal">
            <h6 class="modal-title text-white"><i class="fas fa-triangle-exclamation"></i> &nbsp; Delete crips item..</h6>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            <div class="formsms d-block float-start w-100 text-start"></div>
            <div class="form-floating d-block w-100 float-start fs-6 py-3 my-1">Are you sure you want to delete this record..?</div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-bs-dismiss="modal" id="cancel_delete_btn"><i class="fas fa-times-circle"></i> No</button>
            <button type="button" class="btn btn-danger" id="confirm_delete_btn"><i class="fas fa-check-circle"></i> Yes</button>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <div class="search-box input-group w-100 float-start">
      <input type="text" class="form-control" id="crips_search" placeholder="Search.." autocomplete="off" />
      <button type="button" class="btn btn-primary text-white ms-1" id="crips_filter_clear" title="Clear filters"><i class="fas fa-refresh"></i></button>
      <button type="button" class="btn btn-charcoal text-white ms-1" title="Record new.." data-bs-toggle="offcanvas" data-bs-target="#new_crips_canvas"><i class="fas fa-plus-circle"></i></button>
    </div>

    <div class="offcanvas offcanvas-start" id="new_crips_canvas">
      <div class="offcanvas-header bg-charcoal py-4">
        <h5 class="offcanvas-title text-white">Add new crips record..</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body bg-background">
        <form class="d-block w-100 float-start" id="new_crips_form" action="{% url 'crips_actions' %}" autocomplete="off">
          <div class="formsms w-100 float-start my-1 text-start"></div>
          <div class="form-floating d-block w-100 float-start my-1">
            <select name="name" id="crips_name" class="form-select" required>
              <option value="">Crips type</option>
              <option value="Ndizi">Ndizi</option>
              <option value="Tambi">Tambi</option>
              <option value="Viazi">Viazi</option>
            </select>
            <label for="crips_name" class="form-label">Select crips type</label>
          </div>
          <div class="form-floating d-block w-100 float-start my-1">
            <input type="number" min="1" class="form-control" id="crips_qty" name="qty" placeholder="a" required />
            <label for="crips_qty" class="form-label">Quantity</label>
          </div>
          <div class="form-floating d-block w-100 float-start my-1">
            <input type="number" step="0.01" min="1" class="form-control" id="crips_price" name="price" placeholder="a" required />
            <label for="crips_price" class="form-label">Price</label>
          </div>
          <div class="form-floating d-block w-100 float-start my-1">
            <textarea class="form-control" id="crips_comment" placeholder="d" style="min-height:150px;" name="comment"></textarea>
            <label for="crips_comment" class="form-label">Extra comment (optional)</label>
          </div>
          <div class="form-floating d-block w-100 float-start my-3 text-end">
            <button type="button" class="btn btn-danger d-inline-block me-2" id="crips_cancel_btn" data-bs-dismiss="offcanvas">Cancel</button>
            <button type="submit" class="btn btn-success d-inline-block" id="crips_submit_btn">Save</button>
          </div>
        </form>
      </div>
    </div>
    
    <div class="table-container" id="table_container">
      <div class="table-responsive">
        <table class="table table-striped table-hover" id="crips_table">
          <thead>
            <tr>
              <th>S/N</th>
              <th>regdate</th>
              <th>type</th>
              <th>qty</th>
              <th>price</th>
              <th>amount</th>
              <th>action</th>
            </tr>
          </thead>
          <tfoot class="text-center text-charcoal">
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>PAGE TOTAL:</th>
            <th></th>
            <th></th>
          </tr>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>GRAND TOTAL:</th>
            <th></th>
            <th></th>
          </tr>
        </tfoot>
        </table>
      </div>
    </div>

    <div class="modal fade" id="date_filter_modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-secondary">
            <h6 class="modal-title text-white">Select range of reg. dates..</h6>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            <div class="form-floating d-block w-100 float-start my-1">
              <input type="date" class="form-control text-charcoal" id="min_date" placeholder="d" />
              <label for="min_date" class="text-charcoal">Start date</label>
            </div>
            <div class="form-floating d-block w-100 float-start my-1">
              <input type="date" class="form-control text-charcoal" id="max_date" placeholder="d" />
              <label for="max_date" class="text-charcoal">End date</label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-long-arrow-left"></i></button>
            <button type="button" class="btn btn-primary text-white" id="date_clear"><i class="fas fa-refresh"></i></button>
            <button type="button" class="btn btn-success" data-bs-dismiss="modal" id="date_filter_btn"><i class="fas fa-check-circle"></i></button>
          </div>
        </div>
      </div>
    </div>

    <input type="hidden" value="{% url 'crips_page' %}" id="crips_list_url" />
  {% endif %}
{% endblock %}
{% block scripts %}
  <script src="{% static 'datatables/datatables.min.js' %}"></script>
  <script src="{% static 'js/crips/crips.js' %}"></script>
{% endblock %}